<!DOCTYPE html>
<html>
<head>
  <title><%= app_name %></title>
  <%%= stylesheet_link_tag "application", :media => "all" %>
  <%%= csrf_meta_tags %>
</head>
<body>
  <div id="content">
    <div class="unit">
      <div class="columns on-3">
        <div class="column">
          SIDEBAR
        </div> <!-- left content -->
        <div class="column span-2">
          <%%= yield %>
        </div> <!-- sidebar -->
      </div>
    </div> <!-- unit -->
  </div> <!-- content -->

  <!-- Javascripts -->

  <!-- Placed at the end of the document so the pages load faster -->
  <%%= javascript_include_tag "application" %>
</body>
</html>
